{% extends 'base.html.twig' %}

{% set message_active = true %}

{% block title %}Détails d'un message{% endblock %}
{% block description %}Vous pouvez consulter toutes les informations du message <b>{{ message.libelle }}</b>.{% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-body">
            <p><span class="details-label">Libéllé du message :</span> {{ message.libelle }}</p>
            <p><span class="details-label">Objet du message :</span> {{ message.objet }}</p>
            <p><span class="details-label">Contenu du message :</span><br> <div class="message-contenu">{{ message.contenu }}</div></p>
        </div>

        <div class="btn-group-vertical">
            <a href="{{ path('app_message_listermessages') }}" class="btn btn-info">
                <span class="fa fa-reply"></span> Retourner à la liste des messages
            </a>
            <a href="{{ path('app_message_majmessage', { 'id':message.id }) }}" class="btn btn-info">
                <span class="fa fa-refresh"></span> Modifier ce message
            </a>
            <a href="{{ path('app_message_delete', { 'id':message.id}) }}" class="btn btn-info">
                <span class="fa fa-times-circle"></span> Supprimer ce message
            </a>
        </div>
    </div>
{% endblock %}
