{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacts list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcontact</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('personne_show', { 'id': contact.idContact }) }}">{{ contact.idContact }}</a></td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.telephone }}</td>
                <td>{{ contact.adresse }}</td>
                <td>{{ contact.codePostal }}</td>
                <td>{{ contact.ville }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personne_show', { 'id': contact.idContact }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personne_edit', { 'id': contact.idContact }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personne_new') }}">Create a new contact</a>
        </li>
    </ul>
{% endblock %}
