{% extends 'base.html.twig' %}

{% set contact_active = true %}

{% block title %}Gestion des contacts{% endblock %}
{% block description %}Vous pouvez gérer ici les personnes que vous pouvez contacter.{% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-body table-responsive">

            <a href="{{ path('personne_new') }}" class="btn btn-info btn-sm"><span class="fa fa-plus-circle"></span> Ajouter un nouveau contact</a>

            <table class="table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                <tr>
                    <td><a href="{{ path('personne_show', { 'id': contact.idContact }) }}">{{ contact.email }}</a></td>

                    {% if contact.personne != false %}
                        <td>{{ contact.personne.nomPersonne }} {{ contact.personne.prenomPersonne }}</td>
                    {% elseif contact.organisme != false %}
                        <td>{{ contact.organisme.nomOrganisme }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    <td>{{ contact.telephone }}</td>
                    <td>{{ contact.adresse }}</td>
                    <td>{{ contact.codePostal }}</td>
                    <td>{{ contact.ville }}</td>
                    <td>
                        <a href="{{ path('personne_delete', { 'id': contact.idContact }) }}" type="button" class="btn btn-info btn-xs">
                            <span class="fa fa-refresh"></span> Modifier
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-xs">
                            <span class="fa fa-times-circle"></span> Supprimer
                        </button>
                    </td>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('personne_new') }}" class="btn btn-info btn-sm"><span class="fa fa-plus-circle"></span> Ajouter un nouveau contact</a>
        </div>
    </div>
{% endblock %}
