{% extends 'base.html.twig' %}

{% set contact_active = true %}

{% block title %}Détail du contact{% endblock %}
{% block description %}Vous pouvez consulter toutes les informations du contact {% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-body table-responsive">
            {% if contact.personne != false %}
                <p>Nom de la personne : {{ contact.personne.nomPersonne }}</p>
                <p>Prénom de la personne : {{ contact.personne.prenomPersonne }}</p>
            {% elseif contact.organisme != false %}
                <p>Nom de l'organisme : {{ contact.organisme.nomOrganisme }}</p>
            {% else %}
                <p>Aucune personne ou organisme associer à ce contact</p>
            {% endif %}

            <p>Email : {{ contact.email }}</p>
            <p>Téléphone : {{ contact.telephone }}</p>
            <p>Adresse : {{ contact.adresse }}</p>
            <p>Code Postal : {{ contact.codePostal }}</p>
            <p>Ville : {{ contact.ville }}</p>

            <ul>
                <li>
                    <a href="{{ path('personne_index') }}" class="btn btn-info btn-sm">
                        <span class="fa fa-reply"></span> Retourner à la liste des contacts
                    </a>
                </li>
                <li>
                    <a href="{{ path('personne_edit', { 'id': contact.idContact }) }}" class="btn btn-info btn-sm">
                        <span class="fa fa-refresh"></span> Modifier ce contact
                    </a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-info btn-sm">
                        <span class="fa fa-times-circle"></span> Supprimer ce contact
                    </button>
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
