<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %} {% endblock %} - Gestion d'alertes</title>


        {% block stylesheets %}
            {# import bootstrap #}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap-theme.min.css') }}">

            {# import font-awesome#}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">

            <link rel="stylesheet" type="text/css" href="{{ asset('assets/dataTables/dataTables.bootstrap.min.css') }}">

            <!--link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /-->
            <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
        {% endblock %}
    {% endblock %}

</head>

<body>
    {% block body %}

        {#% include 'menu.html.twig' %#}

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Gestion d'alertes</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Mon compte</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li {% if home_active is defined and home_active %} class="active" {% endif %}>
                            <a href="{{ path('homepage') }}"><i class="fa fa-home icon"></i>Tableau de bord<span class="sr-only">(current)</span></a>
                        </li>
                        <li {% if contact_active is defined and contact_active %} class="active" {% endif %}>
                            <a href="{{ path('personne_index') }}"><i class="fa fa-address-book icon"></i>Gestion des contacts</a>
                        </li>
                        <li {% if groupe_active is defined and groupe_active %} class="active" {% endif %}>
                            <a href="{{ path('groupe_index') }}"><i class="fa fa-users icon"></i>Gestion des groupes</a>
                        </li>
                        <li {% if message_active is defined and message_active %} class="active" {% endif %}>
                            <a href="{{ path('app_message_listermessages') }}"><i class="fa fa-envelope icon"></i>Gestion des messages</a>
                        </li>
                        <li {% if protocole_active is defined and protocole_active %} class="active" {% endif %}>
                            <a href="{{ path('protocole_index') }}"><i class="fa fa-bullhorn icon"></i>Gestion des protocoles</a>
                        </li>
                    </ul>

                    <ul class="nav nav-sidebar">
                        <li {% if execution_active is defined and execution_active %} class="active" {% endif %}>
                            <a href="#"><i class="fa fa-cogs icon"></i>Exécuter un protocole</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% block main %}
                        <div class="page-title">
                            <h1 class="title">{{ block('title') }}</h1>
                            <p class="description">{% block description %}{% endblock %}</p>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {% set non_renseigne = "non renseigné" %}
                                {% block main_content %} {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>

                <footer class="navbar navbar-fixed-bottom navbar navbar-inverse text-center navbar-brand" id="footer" style="color:#9d9d9d">Site d'alertes 2016/2017</footer>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/jquery/jquery-3.1.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/dataTables/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/dataTables/dataTables.bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/script-dataTables.js') }}"></script>
        {% endblock %}
    {% endblock %}
</body>
</html>
