<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestion d'alertes{% endblock %}</title>

        {# import bootstrap #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap-theme.min.css') }}">
        <script type="text/javascript" src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>

        {# import jquery #}
        <script type="text/javascript" src="{{ asset('assets/jquery/jquery-3.1.1.min.js') }}"></script>

        {% block stylesheets %}
            <!--link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /-->
        {% endblock %}

    </head>

    <body>
      <header>
        {% block header %}

            <div id="wrapper">
                <div id="container">

        		<ul style="list-style: none;" align="center">
        			<li style="display: inline;"><a href="#" class="btn_style" style="display:inline-block" >Gérer les membres</a></li>
        			<li style="display: inline;"><a href="#" class="btn_style" style="display:inline-block">Gérer les groupes</a></li>
        			<li style="display: inline;"><a href="#" class="btn_style" style="display:inline-block">Gérer les protocoles</a></li>
        			<li style="display: inline;"><a href="#" class="btn_style" style="display:inline-block">Gérer les messages</a></li>
        		</ul>

        		<br>

        		<ul style="list-style: none;" align="center">
        			<li style="display: inline;"><a href="#" class="btn_protocole" style="display:inline-block" >Executer Protocole</a></li>
        		</ul>

                </div>
            </div>



        {% endblock %}

      </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer id="footer">Site d'alertes 2016/2017</footer>
    </body>
</html>
