{% extends 'base.html.twig' %}

{% set groupe_active = true %}

{% block title %}Gestion des groupes{% endblock %}
{% block description %}Vous pouvez gérer ici les groupes de contact.{% endblock %}

{% block main_content %}
    <div class="card">
        <div class="card-body table-responsive">

            <a href="{{ path('groupe_new') }}" class="btn btn-info btn-sm"><span class="fa fa-plus-circle"></span> Ajouter un nouveau groupe</a>

            <table class="table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Nom du Groupe</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for groupe in groupes %}
                    <tr>
                        <td>
                            <a href="{{ path('groupe_show', { 'id': groupe.idGroupe }) }}">{{ groupe.nomGroupe }}</a>
                        </td>
                        <td>
                            <a type="button" class="btn btn-info btn-xs" href="{{ path('groupe_edit', { 'id': groupe.idGroupe }) }}">
                                <span class="fa fa-refresh"></span> Modifier
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-xs" onclick="supprimerUnGroupe({{ groupe.idGroupe }})">
                                <span class="fa fa-times-circle"></span> Supprimer
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('groupe_new') }}" class="btn btn-info btn-sm"><span class="fa fa-plus-circle"></span> Ajouter un nouveau groupe</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function supprimerUnGroupe (idGroupe) {
            $.ajax({
                type: "POST",
                url: "{{ path('groupe_delete', { 'id': 'idGroupe' }) }}",
                data: {'id' : idGroupe},
                success: function () {
                    console.log("réussi!");
                },
                error: function () {
                    console.log("error!");
                    console.log(url);
                }
            });
        }
    </script>
{% endblock %}
